<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <wicket:message key="application.name"/>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">
                        <wicket:message key="application.home"/>
                    </a></li>

                    <li><a href="contact">
                        <wicket:message key="application.contact"/>
                    </a></li>

                </ul>

                <ul wicket:enclosure class="nav navbar-nav pull-right">
                    <li wicket:id="loginMenu"><a href="login">
                        <wicket:message key="application.login"/>
                    </a></li>
                </ul>

                <ul wicket:enclosure="loggedInAs" class="nav navbar-nav pull-right">
                    <li wicket:id="adminMenu" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="config">
                                <wicket:message key="application.configuration"/>
                            </a></li>
                            <li><a href="log">
                                <wicket:message key="application.logging"/>
                            </a></li>
                            <li><a href="statistic">
                                <wicket:message key="application.statistic"/>
                            </a></li>
                            <li><a href="plugins">
                                <wicket:message key="application.plugins"/>
                            </a></li>
                        </ul>
                    </li>

                    <li class="navbar-text">
                        <img  wicket:id="gravatar" src="http://www.gravatar.com/avatar/88c03b703c520710e22b79c9d9643679?s=30"/>
                    </li>

                    <li wicket:id="loggedInAs" class="navbar-text">
                        Username
                    </li>

                    <li>
                        <a href="logout">
                            <wicket:message key="application.logout"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</wicket:panel>
</html>