<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<wicket:head>
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/>
</wicket:head>

<wicket:panel>
    <form wicket:id="logForm" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="level" class="col-sm-1">Level</label>
            <select wicket:id="level" name="level" id="level"/>
        </div>

        <div class="form-group">
            <label for="keyword" class="col-sm-1">Keyword</label>
            <input wicket:id="keyword" type="text" id="keyword" autofocus/>

        </div>
        <div class="form-group">
            <label for="datetimepickerStart" class="col-sm-1">Start</label>
            <input wicket:id="startTime" id="datetimepickerStart" class="col-sm-2" type="text"/>
            <label for="datetimepickerEnd" class="col-sm-1">End</label>
            <input wicket:id="endTime" id="datetimepickerEnd"  class="col-sm-2" type="text"/>
        </div>

        <div class="form-group">
            <input wicket:id="submit" type="submit" class="btn btn-default col-sm-offset-1 col-sm-1" value="Search"/>
        </div>
    </form>

    <div wicket:id="view">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="col-sm-1">Event</th>
                <th class="col-sm-1">Date</th>
                <th class="col-sm-1">Time</th>
                <th class="col-sm-1">Level</th>
                <th class="col-sm-1">Class</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="listview">
                <td><span wicket:id="eventid"></span></td>
                <td><span wicket:id="date"></span></td>
                <td><span wicket:id="time"></span></td>
                <td><span wicket:id="level"></span></td>
                <td><span wicket:id="class"></span></td>
                <td><span wicket:id="message"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="js/jquery.datetimepicker.js"></script>
    <script>
        $(function() {
            $('#datetimepickerStart').datetimepicker( {
                validateOnBlur: false
            });
            $('#datetimepickerEnd').datetimepicker({
                validateOnBlur: false
            });
        })
    </script>

</wicket:panel>
</html>
