<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <form wicket:id="logForm" class="form-horizontal divider" role="form">
        <div class="form-group">
            <label for="level" class="col-sm-1">Level</label>
            <select wicket:id="level" name="level" id="level"/>
        </div>

        <div class="form-group">
            <label for="keyword" class="col-sm-1">Keyword</label>
            <input wicket:id="keyword" type="text" id="keyword" autofocus/>
        </div>

        <div class="form-group">
            <input wicket:id="submit" type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" value="Search"/>
        </div>
    </form>

    <div wicket:id="view">
        <div wicket:id="listview">
            <span wicket:id="message"/>
        </div>
    </div>
</wicket:panel>
</html>
