<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<wicket:head>
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/>
</wicket:head>

<wicket:panel>
    <form wicket:id="logForm" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="category" class="col-sm-1">
                <wicket:message key="logpanel.category"/>
            </label>
            <select wicket:id="category" name="level" id="category" autofocus/>
        </div>

        <div class="form-group">
            <label for="keyword" class="col-sm-1">
                <wicket:message key="logpanel.keyword"/>
            </label>
            <input wicket:id="keyword" type="text" id="keyword"/>

        </div>
        <div class="form-group">
            <label for="datetimepickerStart" class="col-sm-1">
                <wicket:message key="logpanel.start"/>
            </label>
            <input wicket:id="startTime" id="datetimepickerStart" class="col-sm-2" type="text"/>
            <label for="datetimepickerEnd" class="col-sm-1">
                <wicket:message key="logpanel.end"/>
            </label>
            <input wicket:id="endTime" id="datetimepickerEnd" class="col-sm-2" type="text"/>
        </div>

        <div class="form-group">
            <input wicket:id="submit" type="submit" class="btn btn-default col-sm-offset-1 col-sm-1"
                   wicket:message="value:logpanel.search"/>
        </div>
    </form>

    <div wicket:id="view" class="statView">
        <span class="col-sm-1"><wicket:message key="logpanel.category"/></span>
        <span id="pointCategory" class="col-sm-1"></span>
        <span class="col-sm-offset-8 col-sm-1"><wicket:message key="min"/></span>
        <span wicket:id="min" class="col-sm-1"></span>
        <br/>

        <span class="col-sm-1"><wicket:message key="logpanel.date"/></span>
        <span id="pointDate" class="col-sm-2"></span>
        <span class="col-sm-offset-7 col-sm-1"><wicket:message key="max"/></span>
        <span wicket:id="max" class="col-sm-1"></span>
        <br/>


        <span class="col-sm-1"><wicket:message key="description"/></span>
        <span id="pointDescription" class="col-sm-9"></span>
        <span class="col-sm-1"><wicket:message key="average"/></span>
        <span wicket:id="average" class="col-sm-1"></span>
        <br/>
        <span class="col-sm-1"><wicket:message key="duration"/></span>
        <span id="pointDuration" class="col-sm-1"></span>


        <div id="chart"></div>
    </div>

    <span id="lang" style="display:none"><wicket:message key="logpanel.lang"/></span>
    <span id="format" style="display:none"><wicket:message key="logpanel.format"/></span>

    <script type="text/javascript">
        function plot(data, xlabel, avg) {
            $.plot("#chart", [ data, {
                color: "rgb(255, 0, 0)",
                lines: {
                    fill: false
                },
                data: avg
            } ], {
                xaxis: {
                    show: false
                },
                series: {
                    lines: {
                        fill: true,
                        fillColor: "rgba(50, 50, 50, 0.1)"
                    }
                },
                colors: ["black"],
                grid: {
                    hoverable: true,
                    autoHighlight: true,
                    mouseActiveRadius: 400
                }
            });

            $("#chart").bind("plothover", function (event, pos, item) {
                if (item) {
                    $("#pointCategory").text(xlabel[item.datapoint[0]][0]);
                    $("#pointDate").text(xlabel[item.datapoint[0]][2]);
                    $("#pointDescription").text(xlabel[item.datapoint[0]][1]);
                    $("#pointDuration").text(item.datapoint[1]);
                }
            });

        }

        $(function () {
            $('#datetimepickerStart').datetimepicker({
                validateOnBlur: false,
                style: 'top: 200px !important;',
                lang: $("#lang").text(),
                format: $("#format").text()
            });
            $('#datetimepickerEnd').datetimepicker({
                validateOnBlur: false,
                style: 'top: 200px !important;',
                lang: $("#lang").text(),
                format: $("#format").text()
            });
            plot([], []);

            $("#datetimepickerStart").val("");
            $("#datetimepickerEnd").val("");
        });
    </script>


</wicket:panel>
</html>
