<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head/>
<body>
<wicket:extend>
    <form wicket:id="form" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-1">
                <wicket:message key="form.name"/>
            </label>
            <input wicket:id="name" type="text" id="name" autofocus/>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-1">
                <wicket:message key="form.email"/>
            </label>
            <input wicket:id="email" type="text" id="email" tabindex="2"/>
        </div>

        <div class="form-group">
            <label for="message" class="col-sm-1">
                <wicket:message key="form.message"/>
            </label>
            <textarea wicket:id="message" type="text" id="message" class="comment" tabindex="3"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-default col-sm-offset-1 col-sm-1" wicket:message="value:form.submit"/>
        </div>
    </form>
</wicket:extend>
</body>
</html>
