body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}

h1 {
    text-align: center;
}

.disabled {
    color: #808080;
}

.divider {
    border-bottom: solid 1px;
}

.errorCode {
    text-align: center;
}

.errorCodeMessage {
    font-family: monospace;
    font-size: 18pt;
}

/* Gravatar support*/
.navbar-text img {
    max-height:20px;
    width:auto;
    vertical-align:middle;
    margin-right: -30px;
}

.statView {
    padding-top: 10px;
    border-top: 1px solid;
    ;
}

#chart {
    margin-top: 40px;
    width: 1110px !important;
    height: 400px !important;
}


/* Autocomplete textfield highlighting for bootstrap.  */
div.wicket-aa ul {
    list-style:none;
    padding: 2px;
    margin:0;
}

div.wicket-aa ul li.selected {
    background-color: #0081c2;
    color: white;
    padding: 2px;
    margin:0;
}

div.wicket-aa ul li {
    padding: 2px;
    margin:0;
}

div.wicket-aa-container {
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
}

div.wicket-aa {
    background-color: white;
    padding: 2px;
    text-align:left;
}

.bottom-line {
    padding-bottom: 10px;
    border-bottom: 1px #cccccc solid;
}