body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}

h1 {
    text-align: center;
}

.disabled {
    color: #808080;
}

.divider {
    border-bottom: solid 1px;
}

.errorCode {
    text-align: center;
}

.errorCodeMessage {
    font-family: monospace;
    font-size: 18pt;
}

/* Gravatar support*/
.navbar-text img {
    max-height:20px;
    width:auto;
    vertical-align:middle;
    margin-right: -30px;
}